# Exercise 2: Create markdown cell with title of the notebook
# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction
### In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4 - Create a markdown cell to list data science languages
## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

# Exercise 5 - Create a markdown cell to list data science libraries
### Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Matplotlib
- Seaborn

# Exercise 6 - Create a markdown cell with a table of Data Science tools
**| Data Science tools |**  
| Jupyter notebook |  
| RStudio |  
| Visual Studio Code |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python

# Exercise 8 - Create a code cell to multiply and add numbers
*This a simple arithmetic expression to mutiply then add integers:*

In [6]:
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours
*This will convert 200 minutes to hours by diving by 60*

In [8]:
def convert_minutes_to_hours(minutes):
    hours = minutes//60
    remaining_minutes = minutes%60
    return hours, remaining_minutes

minutes = 200
hours, remaining_minutes = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours and {remaining_minutes} minutes")

200 minutes is equal to 3 hours and 20 minutes

# Exercise 3 - Create a markdown cell for an introduction
**List popular languages for Data Science**  
- Python
- SQL
- R
- Scala
- Java

# Exercise 11 - Create a markdown cell to indicate the Author's name
## Author: 
Vinh Tran